@import "../../scss/variable";
@import "../../scss/fonts";


.VideoCard{
    max-width: 220px;
    max-height: 368px;
    background: #1D1D27;
box-shadow: 0px 8px 28px -6px #000000, 0px 18px 88px -4px #01080D;

border-radius: 16px;
margin-right: 20px;
    &__image-wrapper{
position: relative;
cursor: pointer;
    }
    &__img{
        max-height:300px;
        width:100%;
        border-radius: 12px 12px 0px 0px;
        object-fit: cover;
    }
    &__stickers{
        top:20px;
        right:-10px;
position: absolute;
    }
    &__settings{

        &-wrapper{

        }
        &-item{

        }
    }
    &__icon{

    }

    &__bottom{
        padding:10px;
margin-top: 8px;
display: flex;
align-items: center;
    }
    &__title{
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 23px;
        
        color: #FFFFFF;
    }
    &__toggle{

    }
}