@import "../../scss/variable";
@import "../../scss/fonts";

.UserWidget{
display: flex;
align-items: center;
  &__icon{
    object-fit: cover;
    width:54px;
    height:54px;
    border-radius: 54px;
    margin-right: 8px;
  }
  &__name{

  }
  &__status{

  }
}

  