@import "../../scss/variable";
@import "../../scss/fonts";


.changeVideo{
margin-top:30px;
margin-left:30%;
display: flex;
min-height:700px ;
background: #201E27;
border-radius: 40px;
position: relative;
  &__form{
padding:50px;
  }
  &__left-side{
margin-top:10%;
  }
  &__close-btn{
    position: absolute;
    right: 20px;
    top: 20px;
  }

    &__poster{
      width: 262px;
    height: 100%;
    
    object-fit: cover;
    border-radius: 30px 0px 0px 30px;
    }

  &__form{
align-items: center;

  }
  &__label{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 36px;
text-align: center;
    align-items: center;
    
    color: #FFFFFF;
  }
  &__text-input{
padding: 8px;

    background: rgba(43, 43, 53, 0.7);
    backdrop-filter: blur(20px);
    /* Note: backdrop-filter has minimal browser support */
    height:50px;
   width:90px;
    border-radius: 8px;
    color: #FFFFFF;
  }

  &__time-wrapper{
display: flex;
  }
  &__title{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 36px;
text-align:center;
    align-items: center;
    
    color: #FFFFFF;

    margin-bottom:20px;
  }
  &__paggination{
    margin-top:20px;
    margin-bottom:80px;

    & button{
      width: 55px;
height: 55px;
    }
  }
  &__submit-btn{
position: absolute;
cursor: pointer;
right: -20px;
bottom: 20px;
    width: 300px;
height: 85px;
background: linear-gradient(244.07deg, #FD6161 47.24%, #BA4274 120.34%);
border-radius: 22px;

font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 30px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;
  }
}
.time-wrapper{
  margin-left: 10px;
}