@import "../../scss/variable";
@import "../../scss/fonts";

.EpisodeButton{
  background: #1D1D27;
  padding: 10px;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;

  &-active{
    background: #FF3384;
border: 1px solid rgba(255, 255, 255, 0.5);
border-radius: 8px;
  }
  &__title{
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #FFFFFF;
  }
  &__icon{
padding: 18px 40px;
  }
}